* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 70px;
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 0.94rem rgba(35,31,32,.2);
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

a {
    color: tomato;
    text-decoration: none;
}

header img {
    width: 40px;
}

p, h2, h3, h4, h5 {
    margin-top: 15px;
}

button {
    margin-top: 15px;
    border: none;
    background: tomato;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    padding: 15px 30px;
    outline: none;
    cursor: pointer;
}

.container {
    max-width: 1440px;
    margin: auto;
    padding: 0 30px;
}

.content {
    font-size: 18px;
    line-height: 1.5;
}

.animation-ball {
    width: 20px;
    height: 20px;
    background: tomato;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s, opacity 0.2s, scale 0.2s;
    z-index: 100;
}

.basket {
    position: relative;
    cursor: pointer;
}

#counter {
    width: 25px;
    height: 25px;
    z-index: 99;
    border-radius: 50%;
    background: tomato;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 15px), calc(-50% + 10px));
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    opacity: 0;
}

.product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-image {
    flex-basis: 40%;
    flex-shrink: 1;
}

.product-image img {
    max-width: 100%;
}

.product-description {
    flex-grow: 1;
    flex-basis: 50%;
    padding-top: 70px;
}

@media screen and (max-width: 768px) {
    .product-image {
        flex-basis: 100%;
    }

    .product-description {
        flex-grow: 1;
        padding-top: 0;
    }
}


